{
    "check-coverage": true,
    "per-file": true,
    "lines": 99,
    "statements": 99,
    "functions": 99,
    "branches": 99,
    "include": [
      "src/**/*.ts"
    ],
    "exclude": [
      "src/**/*.test*"
    ],
    "reporter": [
      "html"
    ],
    "extension": [
      ".ts"
    ],
    "cache": true,
    "all": true,
    "report-dir": "./.coverage"
  }